{% extends 'base/base.html' %}

{% block titulo %}
    Error01
{% endblock %}

{% block nombre %}
    Error01
{% endblock %}

{% block contenido %}
    <div class="blackblock">
        <br/>
        <h4>
            Error01: Problema al conectar el servidor
        </h4>
        <br/>
        <h5>
            1. Compruebe la conexión
        </h5>
        <br/>
        <h6>
            Asegúrate de tener una buena conexion WiFi. Compruébalo tanto
            para el cliente como para el servidor.
        </h6>
        <br/>
        <h5>
            2. Comprueba el puerto
        </h5>
        <br/>
        <h6>
            Si el puerto está ocupado, no funcionará correctamente. Si el servidor
            está parado mucho tiempo, este es tu error.
            <br/><br/>
            2.1: Reinicia el código.
            <br/><br/>
            2.2: Desconecta y reconecta el WiFi.
            <br/><br/>
            2.3: Reinicia el ordenador.
            <br/><br/>
            2.4: Escribe otro puerto en el código,
        </h6>
        <br/>
    </div>
{% endblock %}