{% extends 'base/base.html' %}

{% block titulo %}
    ENM
{% endblock %}

{% block nombre %}
    ENM
{% endblock %}

{% block contenido %}
    <div class="whiteblock">
        <br/>
        <h4>
            Enfermedades Neuromusculares
        </h4>
        <br/>
        <h6>
            Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí.
            Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí.
            Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí.
            Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí.
            Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí.
            Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí.
            Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí.
            Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí.
            Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí. Texto aquí.
        </h6>
        <br/>
        <iframe src="https://drive.google.com/file/d/1EhYzjjQUrQjFx6v0b3LcEZIAjsmsPVCq/preview" width="640" height="480" allow="autoplay"></iframe>        
        
        <br/>
    </div>
{% endblock %}