{% extends 'base/base.html' %}

{% block titulo %}
    Error02
{% endblock %}

{% block nombre %}
    Error02
{% endblock %}

{% block contenido %}
    <div class="texto-desplegable">
        <h5> Texto Despegable </h5>
        <font><h6> Texto Desplegado </h6>
            <div class="subtexto-desplegable">
                <h5> Texto Despegable </h5>
                <font><h6> Texto Desplegado </h6>
                    <div class="download"> <a href="page4?error=error02"> Error02 </a> </div>
                <font>
            </div>
        <font>
    </div>
    <div class="texto-desplegable">
        <h5> Texto Despegable </h5>
        <font><h6> Texto Desplegado </h6><font>
    </div>
{% endblock %}